* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #15171E;
}

.tudo{
    padding: 2%;
}

/* DEBUT DU HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bouton-header {
    display: flex;
}

.btn-link{
    padding: 10px;
}
.btn-link-txt {
    width: 10%;
}
.btn-link {
    padding-left: 30px;
    color: #0093fe;
}
.btn-link-txt, .btn-link-txt3 {
    color: white;
}

/* DEBUT BARRES DE RECHERCHE */
.barres {
    display: flex;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}
.barre-1{
    width: 69.5%;
    background-color: #23252b;
    border: none;
    border-radius: 5px;
}

.barre-2{
    width: 14.5%;
    background-color: #23252b;
    border: none;
    margin-left: 0.5%;
    border-radius: 5px;
}

.barre-3{
    width: 2.5%;
    background-color: #23252b;
    border: none;
    margin-left: 0.5%;
    border-radius: 5px;
}

.barre-4{
    width: 11.5%;
    background-color: #23252b;
    border: none;
    margin-left: 0.5%;
    border-right: 0;
    border-radius: 5px;
}

.btn-rech{
    background-color: #23252b;
    color: #b3b3b5;
    height: 38px;
    width: 100%;
    font-weight: bold;
    text-align: start;
    padding-left: 15px;
    text-align: start;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-rech1{
    background-color: #23252b;
    color: #b3b3b5;
    height: 38px;
    width: 100%;
    font-weight: bold;
    text-align: start;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-rech2{
    background-color: #23252b;
    color: #b3b3b5;
    height: 38px;
    width: 100%;    
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-rech3{
    background-color: #23252b;
    color:#FFFFFFB8;
    height: 38px;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-rech:hover{
    background-color: #434950;
}
.btn-rech1:hover{
    background-color: #434950;
}
.btn-rech2:hover{
    background-color: #434950;
}
.btn-rech3:hover{
    background-color: #434950;
}